body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(80, 169, 199);
  }
  
  .container {
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .statistics {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .questionnaire {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: justify;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
